# Bases du Langage Python

In [1]:
import numpy as np
import decimal
from math import sqrt, ceil
import statistics
import re

## Operateurs

In [2]:
3 + 4, 3 - 4, 3 * 4, 3 / 4, 3 // 4, 7 % 4, 2**10

(7, -1, 12, 0.75, 0, 3, 1024)

In [3]:
# entiers de python (int) non limité
x = 30000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004
x+1

30000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005

In [4]:
type(x)

int

In [5]:
# avec Numpy : entiers 8 bits non signés 0-255
m = np.zeros((5,5), dtype=np.uint8)
m

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=uint8)

In [6]:
m.dtype

dtype('uint8')

In [7]:
# un seul type de nb flottant (float)
type(3.4)

float

In [8]:
# avec Numpy : choix du flottant (16, 32, 64 bits)
m = np.zeros((5,5), dtype=np.float64)

In [9]:
# flottants particuliers de la norme IEE754
float('inf'), float('NaN')

(inf, nan)

In [10]:
np.NAN, np.Inf

(nan, inf)

In [11]:
x = complex(4,4)
x

(4+4j)

In [12]:
4+3j

(4+3j)

In [13]:
# 0.1 (base 10) = 0.00011001100110011..
prix = 0.1
prix, 2*prix, 3*prix

(0.1, 0.2, 0.30000000000000004)

In [14]:
prix = decimal.Decimal('0.1')
prix, 2*prix, 3*prix

(Decimal('0.1'), Decimal('0.2'), Decimal('0.3'))

In [15]:
ceil(sqrt(20))

5

In [16]:
statistics.mean([5, 10, 12])

9

In [17]:
np.mean([5, 10, 12])

9.0

In [18]:
data = [5.0, 10.0, 12.0, float('NaN') ]
statistics.mean(data), np.mean(data), np.nanmean(data)

(nan, nan, 9.0)

## Textes
Unicode par défaut en python 3

In [19]:
ville = "Toulouse"
ville, type(ville)

('Toulouse', str)

In [20]:
'Toulouse', "Toulouse"

('Toulouse', 'Toulouse')

In [21]:
print(ville)

Toulouse

In [22]:
phrase =  'Aujourd\'hui je dis : "Il fait gris"'
print(phrase)
phrase

Aujourd'hui je dis : "Il fait gris"

'Aujourd\'hui je dis : "Il fait gris"'

In [23]:
villeJO = "北京"
print(villeJO)

北京

In [24]:
sorted(["été", "étage", "étuve"])

['étage', 'étuve', 'été']

In [25]:
sorted(["mano", "mañana", "matador"])

['mano', 'matador', 'mañana']

In [26]:
# vieux python
u"北京"

'北京'

In [27]:
# regex
pattern = r"[a-z\t]+"

In [28]:
re.match(ville, pattern) is None

True

In [29]:
type(None)

NoneType

In [30]:
bool(None)

False

In [31]:
# formatted strings (python 3.6)
f"Les JO d'hiver 2022 ont lieu à {ville}"

"Les JO d'hiver 2022 ont lieu à Toulouse"

In [32]:
# format strings avant 3.6
"Les JO d'hiver 2022 ont lieu à {}".format(villeJO)

"Les JO d'hiver 2022 ont lieu à 北京"

In [33]:
"Les JO d'hiver 2022 ont lieu à %s" % villeJO

"Les JO d'hiver 2022 ont lieu à 北京"

In [34]:
# binary strings
b"aaaaa"

b'aaaaa'

In [35]:
ville, len(ville)

('Toulouse', 8)

In [36]:
villeJO, len(villeJO)

('北京', 2)

In [37]:
ville[0], ville[1], ville[7], ville[-1]

('T', 'o', 'e', 'e')

In [38]:
# ville[8]
# => IndexError: string index out of range

### slices

In [39]:
ville[:2], ville[2:5], ville[5:7], ville[7:], ville[:]

('To', 'ulo', 'us', 'e', 'Toulouse')

In [40]:
ville[12:]

''

In [41]:
ville[-2:], ville[-7:-5]

('se', 'ou')

In [42]:
# lettres 2, 4 et 6
ville[2:7:2]

'uos'

In [43]:
ville[::2], ville[1::2], ville[::-1]

('Tuos', 'olue', 'esuoluoT')

In [44]:
ville.startswith('To'), ville.endswith('z'), 'ou' in ville

(True, False, True)

In [45]:
ville.upper(), ville.lower(), villeJO.upper()

('TOULOUSE', 'toulouse', '北京')

In [46]:
mot = "straße"

In [47]:
mot.upper(), mot.lower(), mot.casefold()

('STRASSE', 'straße', 'strasse')

In [48]:
mots = ville.split('o')
mots

['T', 'ul', 'use']

In [49]:
"o".join(mots)

'Toulouse'

In [50]:
"".join(mots)

'Tuluse'

In [51]:
" Toulouse\t".strip()

'Toulouse'

In [52]:
ville = 'Toulouse'
mot = 'ou'
found = True
pos = -1
while found:
    pos = ville.find(mot, pos+1)
    found = pos != -1
    if found:
        print(f"Found {mot} at pos {pos}")

Found ou at pos 1
Found ou at pos 4

In [59]:
ville + " ville rose"

'Toulouse ville rose'

In [55]:
"Toulouse" " ville rose"

'Toulouse ville rose'

In [56]:
"Toulouse, " \
"ville rose, " \
"terre de rugby"

'Toulouse, ville rose, terre de rugby'

In [57]:
"""Toulouse,
ville rose,
terre de rugby"""

'Toulouse,\nville rose,\nterre de rugby'

In [61]:
n = 3
# ville + n  # TypeError: can only concatenate str (not "int") to str
f"{ville} {n}"

'Toulouse 3'

In [64]:
# doc tous les formats (sauf date)
# https://docs.python.org/3/library/string.html#formatstrings
nb = 1/3
f"1/3 = {nb:.3f}"

'1/3 = 0.333'

In [65]:
3 * ville

'ToulouseToulouseToulouse'

# conditionnelles et boucles

### While (cf exemple ci-dessus) 
NB: pas do ... while

### if

In [54]:
n = 10
if n < 10:
    pass
elif n < 15:
    pass
else:
    pass

In [66]:
v = 31 if ville == "Toulouse" else 0
v

31

match ... case (python 3.10) : cf test_match.py

for (sémantique foreach) sur tout ce qui est Iterable (a une methode _ _iter_ _ )

In [67]:
for l in ville:
    print(l)

T
o
u
l
o
u
s
e

In [69]:
# TypeError: 'complex' object is not iterable
# for x in 3+4j:
#     print(x)

In [71]:
# list is iterable
data = [ 5.0, 10.0, 12.0, float('NaN') ]
for n in data:
    print(n)

5.0
10.0
12.0
nan

In [72]:
# parcours avec 2 variables (unwrap de tuples)
for i, n in enumerate(data):
    print(i, n)

0 5.0
1 10.0
2 12.0
3 nan

In [73]:
for i, n in enumerate(data, 1):
    print(i, n)

1 5.0
2 10.0
3 12.0
4 nan

In [81]:
# lazy evaluation
e = enumerate(data, 1)
e

In [82]:
# focus sur un iterable/iterator en mode lazy
# next => StopIteration
next(e)

(1, 5.0)

In [86]:
data.__iter__

In [87]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [88]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [89]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [91]:
# lazy
range(1000000000)

range(0, 1000000000)

## Conteneurs (sequence et dictionnaire)
- sequence : list, tuple, set
- dictionnaire : dict

In [93]:
# list : dynamique, homogène
liste_villes = [ "Toulouse", "Pau", "Barcelona" ]
print(type(liste_villes))
liste_villes

<class 'list'>

['Toulouse', 'Pau', 'Barcelona']

In [95]:
# tuple : taille fixe, hétérogène
# tuple_villes = ( "Toulouse", "Pau", "Barcelona" )
tuple_villes =  "Toulouse", "Pau", "Barcelona" 
print(type(tuple_villes))
tuple_villes

<class 'tuple'>

('Toulouse', 'Pau', 'Barcelona')

In [98]:
# sémantique figée
# - 0 : nom
# - 1 : code postal
# - 3 : population
tuple_ville = ("Toulouse", "31000", 471941)
print(type(tuple_ville))
tuple_ville

<class 'tuple'>

('Toulouse', '31000', 471941)

In [99]:
# socle commun : list, tuple
for e in liste_villes:
    print(e)

for e in tuple_villes:
    print(e)

Toulouse
Pau
Barcelona
Toulouse
Pau
Barcelona

In [100]:
print(liste_villes[0])
print(tuple_villes[0])
print(liste_villes[2:5])
print(tuple_villes[2:5])

Toulouse
Toulouse
['Barcelona']
('Barcelona',)

In [101]:
# cas particulier
print([], [1])
print((), (1,), (1))  # le 3e est juste 1 entre parentheses

[] [1]
() (1,) 1

In [103]:
# on peut toujours ecrire une virgule apres le dernier élément
data_l = [1, 2, 3,]
data_t = 1,2,3,

In [107]:
# modifiable : append, extend, clear, insert, pop, ...
liste_villes = [ "Toulouse", "Pau", "Barcelona" ]
liste_villes[0] = "Marseille"
liste_villes.append("Bordeaux")
liste_villes.extend(["Paris", "Bayonne"])
liste_villes += ["Lyon", "San Sebastian" ]
print(liste_villes)
liste_villes.clear()
print(liste_villes)

['Marseille', 'Pau', 'Barcelona', 'Bordeaux', 'Paris', 'Bayonne', 'Lyon', 'San Sebastian']
[]

In [113]:
liste_villes = [ "Toulouse", "Pau", "Barcelona" ]
liste_villes[:2] = [ "Madrid", "San Sebastian" ]
print(liste_villes)
liste_villes[:2] = [ "Bilbao", "Sevilla", "Zaragoza" ]
print(liste_villes)
liste_villes[3:3] = [ "Pampelona" ]
print(liste_villes)
liste_villes[100:100] = [ "Lleida", "Girona" ]
print(liste_villes)
liste_villes[:2] = [ ]  # delete
print(liste_villes)

['Madrid', 'San Sebastian', 'Barcelona']
['Bilbao', 'Sevilla', 'Zaragoza', 'Barcelona']
['Bilbao', 'Sevilla', 'Zaragoza', 'Pampelona', 'Barcelona']
['Bilbao', 'Sevilla', 'Zaragoza', 'Pampelona', 'Barcelona', 'Lleida', 'Girona']
['Zaragoza', 'Pampelona', 'Barcelona', 'Lleida', 'Girona']

Les tuples ne sont pas modifiables, il faut en creer un nouveau

In [116]:
# TypeError: 'tuple' object does not support item assignment
# tuple_ville[2] += 100

In [118]:
nouveau_tuple_villes = tuple_villes + ('Bilbao', 'Sevilla', 'Zaragoza')
nouveau_tuple_villes

('Toulouse', 'Pau', 'Barcelona', 'Bilbao', 'Sevilla', 'Zaragoza')

In [122]:
tuple_villes =  "Toulouse", "Pau", "Barcelona" 
print(id(tuple_villes))
tuple_villes = tuple_villes + ('Bilbao', 'Sevilla', 'Zaragoza')
print(id(tuple_villes))
tuple_villes += ('Lleida', 'Girona')
print(id(tuple_villes))
tuple_villes

2795963027840
2795969795456
2795948079024

('Toulouse',
 'Pau',
 'Barcelona',
 'Bilbao',
 'Sevilla',
 'Zaragoza',
 'Lleida',
 'Girona')

In [120]:
id(tuple_villes)

2795968824032

In [123]:
nom = tuple_ville[0] # je dois savoir que à l'index 0, j'ai le nom de la ville
nom

'Toulouse'

In [126]:
nom, cp, pop = tuple_ville  # unwrap
print(nom, cp, pop)

Toulouse 31000 471941

In [127]:
dict_ville = { 'nom': "Toulouse", 'cp':"31000", 'pop': 471000 }
dict_ville

{'nom': 'Toulouse', 'cp': '31000', 'pop': 471000}

In [128]:
dict_ville['nom']

'Toulouse'

In [129]:
dict_ville['pop'] += 100
dict_ville

{'nom': 'Toulouse', 'cp': '31000', 'pop': 471100}

In [130]:
dict_ville['maire'] = "Toto"
dict_ville

{'nom': 'Toulouse', 'cp': '31000', 'pop': 471100, 'maire': 'Toto'}

In [131]:
# del : supprimer une case dans une liste, un couple key/value dans un dict, attribut dans un object, ...
del dict_ville['maire']
dict_ville

{'nom': 'Toulouse', 'cp': '31000', 'pop': 471100}

In [132]:
'Toulouse' in liste_villes, \
'Toulouse' in tuple_villes, \
'maire' in dict_ville

(False, True, False)

In [134]:
for k in dict_ville:
    print(k)

nom
cp
pop

In [137]:
for k, v in dict_ville.items():
    print(k, v)

nom Toulouse
cp 31000
pop 471100

In [138]:
# idem : parcours direct
for k in dict_ville.keys():
    print(k)

nom
cp
pop

In [139]:
for v in dict_ville.values():
    print(v)

Toulouse
31000
471100

In [140]:
data = [ 12.3, 23.5, 45.6 ]
data

[12.3, 23.5, 45.6]

## builtins fonctions exploitant les conteneurs et/ou iterable
- map/reduce

In [141]:
min(data), max(data), sum(data), len(data)

(12.3, 45.6, 81.4, 3)

In [142]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [144]:
list(tuple_villes)

['Toulouse',
 'Pau',
 'Barcelona',
 'Bilbao',
 'Sevilla',
 'Zaragoza',
 'Lleida',
 'Girona']

In [145]:
tuple(liste_villes)

('Zaragoza', 'Pampelona', 'Barcelona', 'Lleida', 'Girona')

In [147]:
# map est lazy
map(sqrt, data)

In [148]:
res = list(map(sqrt, data))
res

[3.5071355833500366, 4.847679857416329, 6.752777206453653]

In [149]:
# somme element par element (avantage du mode lazy)
sum(map(sqrt, data))

15.10759264722002

In [150]:
# map x -> x + 1

In [151]:
list(map(lambda x: x+1, data))

[13.3, 24.5, 46.6]

comprehension :
- generator (lazy)
- list comprehension
- dict comprehension

In [153]:
# list comprehension
l = [ x + 1 for x in data ]
l

[13.3, 24.5, 46.6]

In [163]:
# generator (lazy)
g =  (x + 1 for x in data)
g

In [159]:
# consommation du generator 
sum(g)

84.4

In [160]:
# un generator est one shot
sum(g)

0

In [168]:
#  à la main => StopIteration 
# next(g)

In [170]:
# comprehension est le seul argument de sum
sum(x*2 for x in data)

162.8

In [172]:
# comprehension n'est plus le seul argument => () sont obligatoires
sum((x*2 for x in data), 100)

262.8

In [175]:
min(v.casefold() for v in liste_villes)

'barcelona'

In [176]:
liste_villes

['Zaragoza', 'Pampelona', 'Barcelona', 'Lleida', 'Girona']

In [178]:
max(v for v in liste_villes if v.endswith('na') )

'Pampelona'

In [186]:
# quantificateur universel (∀) et existentiel (∃)
(
    all(v.endswith('a') for v in liste_villes),  # parcours exhaustif
    all(v.endswith('na') for v in liste_villes), # sort à Zaragoza (False)
    any(v.endswith('na') for v in liste_villes), # sort à Barcelona (True)
    any(v.startswith('A') for v in liste_villes), # parcours exhausitif
)

(True, False, True, False)

In [189]:
list(zip(liste_villes, range(1,4), ["soleil", "vent", "neige"]))

[('Zaragoza', 1, 'soleil'),
 ('Pampelona', 2, 'vent'),
 ('Barcelona', 3, 'neige')]

In [190]:
# pour plus de manip d'iterables : cf https://docs.python.org/3/library/itertools.html